*{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.wrapper{
  display: table;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#game {
  margin: 0 auto;
}
#game ul {
  display: flex;
}

#game ul li {
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #aaa;
  text-align: center;
  margin: 1px;
  font-size: 12px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#game ul li:hover {
  background-color: red;
}

#game ul li.open {
  background-color: #eee;
}